/*Within State UI*/
.slide {
	will-change: transform, opacity;
	-webkit-transition: ease-out 0.3s;
	-moz-transition: ease-out 0.3s;
	-ms-transition: ease-out 0.3s;
	-o-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}

.slide.ng-enter-stagger {
	transition-delay: 0.05s;
	transition-duration: 0s;
}

.slide.ng-leave-stagger {
	transition-delay: 0.05s;
	transition-duration: 0s;
}

.slide.ng-enter {
	opacity: 0;
	left: +25px;
}

.slide.ng-enter-active{
	opacity: 1;
	left: 0px;
}

.slide.ng-leave {
	opacity: 1;
	left: 0px;
}

.slide.ng-leave-active{
	opacity: 0;
	left: +25px;
}
/*Within State UI*/