body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

/*Fixed position Fab button*/
.static {
	position:fixed; 
	bottom: 10px;
	right: 10px; 
}

.mainContent {
  overflow-y: scroll;
	position: fixed;
}

.sideNav{
    position: absolute;
    min-height: 100%;
    height: 100vh;
}

.img-circle {
  border-radius: 50%;
}

.seeThrough {
  background-color: transparent;
}

.sidenav-bg {
  background-image: url("/themes/navtoolbar2.png");
  background-size: 100% 100%;
}

.sidenav-content-bg {
  background-image: url("/themes/navcontentbg.jpg");
  background-size: 100% 100%;
}

.toolbar-bg {
  background-image: url("/themes/toolbar3.png");
  background-size: 100% 100%;
}

.content-bg {
  background-image: url("/themes/contentbg.jpg");
  background-size: 100% 100%;
    height: 100vh;
}

.tabs {
  height: 100vh;
}

.glanceplateheight {
  height: 80px;
}

.glanceplate {
  border-radius: 0 40px 0 40px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.profileImage {
    display: block;
    width: 80px;
    height: 80px;
}


.marginLeft {
  margin-left: 0px;
}

.grayscale { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
  