/*Fixed position Fab button*/
.static {
	position:fixed; 
	bottom: 10px;
	right: 10px; 
}

.toolbarFixed {
	position: fixed;
}

.sideNav{
    position: fixed;
    min-height: 100%;
    height: 100vh;
}

.fullheight {

}


md-list-item>md-icon.md-secondary {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}
