/* Angular-Material */

/*Material:List -> Projects, Milestones, Tasks*/


div[bingo]{
    max-width: 100%;
	height: 250px;

	background-image: url("/toolbar1.png");

}

.marginLeft {
  margin-left: 0px;
}