<md-dialog aria-label="Change Password Dialog" flex="0.618">

	<md-dialog-content>
		<form name="changepassword" ng-submit="changePW(password)">
			<div>
				<md-input-container>
					<label>Old password</label>
					<input ng-model="password.old">
				</md-input-container>
				<md-input-container>
					<label>New password</label>
					<input ng-model="password.new">
				</md-input-container>
				<md-button ng-click="changePW(password)" type="submit" value="Post" class="md-accent">
       	      		Change
       	 		</md-button>
      	 		<md-button ng-click="closeDialog()" class="md-warn">
            		Close
        		</md-button>
			</div>
		</form>
  	</md-dialog-content>

</md-dialog>


