<div>
    <md-content class="md-padding">

      <md-tabs md-dynamic-height class="bgblack" >
        	<md-tab label="Tasks">
	        	<md-list class="slide" ng-repeat="task in tasks">
	            	<md-list-item class="md-2-line contact-item slide">
	            		<p>{{task.title}}</p>
	            </md-list-item>
	        <md-list>
      </md-tab>

        <md-tab label="Milestones">
	        <md-list class="slide" ng-repeat="milestone in milestones">
	            <md-list-item class="md-2-line contact-item slide">
	            	<p>{{milestone.title}}</p>
	            </md-list-item>
	          <md-list>
        </md-tab>

      </md-tabs md-dynamic-height>
    </md-content>
</div>






