<md-toolbar class="md-tall toolbar-bg">
  <div>
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleNavbar()" class="md-icon-button" hide-lg aria-label="Sidenav">
            <i md-no-ink class="icon ion-navicon md-icon-button" aria-label="Sidenav Icon">
            </i>           
        </md-button>    
   
        <h1>
          <span>Toolbar</span>
        </h1>
        <span flex></span>

        <md-button class="md-icon-button" aria-label="Update Button">
          <i md-no-ink class="icon ion-edit md-icon-button" aria-label="Update">
          </i>
        </md-button>

        <md-button class="md-icon-button" aria-label="Contacts Button">
          <i md-no-ink class="icon ion-android-person md-icon-button" aria-label="Contacts">
          </i>
        </md-button>

        <md-button class="md-icon-button" aria-label="Contacts Button">
          <i md-no-ink class="icon ion-chatbubble md-icon-button" aria-label="Contacts">
          </i>
        </md-button>
    </div>

  </div>
</md-toolbar>
<md-content>
      <md-list>
        <md-list-item class="md-2-line contact-item slide" ng-repeat="project in datas">
          <div class="md-list-item-text compact">
            <h3>{{project.name | capitalize}}</h3>
            <!--
            <i md-no-ink ng-click="remove(project)" ng-class="myClass" class="icon md-icon-button md-secondary" aria-label="Update Milestone">
            </i>                       -->
          </div>            
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      <md-list>
</md-content>