<div>
    <md-content class="md-padding">
      <md-subheader class="md-no-sticky">Milestones</md-subheader>
      <md-list>
        <md-list-item ng-repeat="milestone in milestones" ng-click="selectMilestone(milestone)">
          <p class="md-primary">{{milestone.title}} - {{milestone.description}}</p>
          
          <div>
            <i md-no-ink ng-click="updateMilestone($event, milestone)" class="icon ion-edit md-icon-button md-secondary" aria-label="Update Milestone">
            </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      <md-list>
    </md-content>
</div>

<md-button class="md-fab static" ng-click="addMilestone($event)" aria-label="Add Milestone">
  <md-tooltip>Add milestone</md-tooltip>
    <i class="icon ion-plus-round"></i>
</md-button>
