<div ng-controller="NavCtrl" layout="column" layout-fill>
    
  <section layout="row" flex>

    <md-sidenav ng-show="signedIn()" class="md-sidenav-left md-whiteframe-z2 sideNav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column">
      


      <md-toolbar class="md-tall sidenav-bg" layout="column">


        <br>
        <div class="md-toolbar-tools">
          <img class="img-circle" ng-src="{{currentUser.password.profileImageURL}}">
        </div>

        <h6 class="md-toolbar-tools">{{currentUser.userData.firstName | capitalize}} {{currentUser.userData.lastName | capitalize}} {{currentUser.userData.displayName}}</h6>
      </md-toolbar>

      <md-content flex>
        <md-list>
          <md-list-item ng-click="goGlanceboard()">
            Glanceboard
          </md-list-item>
          <md-list-item ng-click="goProjects()">
            Projects
          </md-list-item>
          <md-list-item ng-click="goTalk()">
            Talk
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item ng-click="goProfile()">
            Contacts
          </md-list-item>
          <md-list-item ng-click="goSettings()">
            Settings
          </md-list-item>
          <md-list-item ng-click="logout()">
            Logout
          </md-list-item>            
        </md-list>
      </md-content>

    </md-sidenav>

    <div layout="column" flex>

      <md-toolbar layout="row">
        <md-button ng-show="signedIn()" class="menu" hide-gt-sm aria-label="Toggle Navbar" ng-click="toggleNavbar()">
          <i md-no-ink class="icon ion-grid"></i>        
        </md-button>
        <h1 class="md-toolbar-tools" state-title></h1>
      </md-toolbar>

      <div class="ui-view-container">
        <md-content ui-view style="overflow-y: scroll; max-height: 80vh;" flex layout-padding></md-content>
      </div>

    </div>

  </section>
</div>