<md-dialog aria-label="Add Milestone Dialog" flex="0.618">

	<md-dialog-content>
		<form name="newmilestoneform" ng-submit="addM(MAmodal)">
			<div>
				<md-datepicker ng-model="MAmodal.milestone.deadline" md-min-date="MAmodal.minDate" md-max-date="MAmodal.maxDate" md-placeholder="Deadline"></md-datepicker>
				<md-input-container>
					<label>Milestone Title</label>
					<input ng-model="MAmodal.milestone.title">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input ng-model="MAmodal.milestone.description">
				</md-input-container>
				<md-input-container>
			      <md-slider flex ng-model="MAmodal.milestone.priority" min="0" max="5" aria-label="slider" class="md-accent"></md-slider>
				</md-input-container>			

				<md-button ng-click="MAmodal.add(MAmodal.milestone)" type="submit" value="Post" class="md-accent">
       	      		Add
       	 		</md-button>
      	 		<md-button ng-click="MAmodal.closeDialog()" class="md-warn">
            		Close
        		</md-button>
			</div>
		</form>
  	</md-dialog-content>

</md-dialog>


