<md-dialog aria-label="Add Project Dialog" flex="0.618">

	<md-dialog-content>
		<form name="newprojectform" ng-submit="addP(PAmodal)">
			<div>
				<md-datepicker ng-model="PAmodal.project.deadline" md-placeholder="Deadline"></md-datepicker>
				<md-input-container>
					<label>Project Title</label>
					<input ng-model="PAmodal.project.title">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input ng-model="PAmodal.project.description">

				</md-input-container>
				<md-input-container>
			      <md-slider flex ng-model="PAmodal.project.priority" min="1" max="10" aria-label="slider" class="md-primary"></md-slider>
				</md-input-container>

				<md-button ng-click="PAmodal.add(PAmodal.project)" type="submit" value="Post" class="md-accent">
       	      		Add
       	 		</md-button>
      	 		<md-button ng-click="PAmodal.closeDialog()" class="md-warn">
            		Close
        		</md-button>

			</div>
		</form>
  	</md-dialog-content>

</md-dialog>


