<div>
  	<md-content class="md-padding">
  		<!-- <md-subheader class="md-no-sticky">Projects</md-subheader> -->
      <md-list>
    		<md-list-item class="slide" ng-repeat="message in messages" ng-click="selectProject(project)">
          <p class="md-primary">{{message.title}}</p>

          <md-divider ng-if="!$last"></md-divider>
    		</md-list-item>
      <md-list>
  	</md-content>
</div>






		<form name="newprojectform">
			<div>
				<md-input-container>
					<label>Message</label>
					<input ng-model="message.title">
				</md-input-container>
				<md-button ng-click="addMessage(message)" type="submit" value="Post" class="md-accent">
       	      		Add
       	 		</md-button>
			</div>
		</form>