<md-dialog aria-label="Edit Milestone Dialog" flex="0.318">

	<md-dialog-content>
		<form name="updatemilestoneform" ng-submit="updateM(MEmodal)">
			<div>
				<md-input-container>
					<label>Milestone Title</label>
					<input ng-model="MEmodal.milestone.title">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input ng-model="MEmodal.milestone.description">
				</md-input-container>
				<md-button ng-click="update()" type="submit" value="Post" class="md-accent">
       	      		Done
       	 		</md-button>
      	 		<md-button ng-click="closeDialog()" class="md-warn">
            		Remove
        		</md-button>
			</div>
		</form>
  	</md-dialog-content>

</md-dialog>


