<md-dialog aria-label="Edit Task Dialog" flex="0.318">

	<md-dialog-content>
		<form name="updatetaskform" ng-submit="updateT(TEmodal)">
			<div>
				<md-input-container>
					<label>Task Title</label>
					<input ng-model="TEmodal.task.title">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input ng-model="TEmodal.task.description">
				</md-input-container>
				<md-input-container>
			      <md-slider flex ng-model="TEmodal.task.priority" min="0" max="5" aria-label="slider" class="md-accent"></md-slider>
				</md-input-container>

				<!--<md-datepicker ng-model="PEmodal.project.deadline" md-placeholder="Deadline"></md-datepicker> -->

				<md-button ng-click="TEmodal.update()" type="submit" value="Post" class="md-accent">
       	      		Done
       	 		</md-button>
      	 		<md-button ng-click="TEmodal.closeDialog()" class="md-warn">
            		Remove
        		</md-button>
			</div>
		</form>
  	</md-dialog-content>

</md-dialog>



