<md-dialog aria-label="Edit Milestone Dialog" flex="0.618">

	<md-dialog-content>
		<form name="updatemilestoneform" ng-submit="updateM(MEmodal)">
			<div>
				<md-datepicker ng-model="MEmodal.milestone.deadline" md-min-date="MEmodal.minDate" md-max-date="MEmodal.maxDate" md-placeholder="Deadline"></md-datepicker>

				<md-input-container>
					<label>Milestone Title</label>
					<input ng-model="MEmodal.milestone.title">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input ng-model="MEmodal.milestone.description">
				</md-input-container>
				<md-input-container>
			      <md-slider flex ng-model="MEmodal.milestone.priority" min="1" max="10" aria-label="slider" class="md-primary"></md-slider>
				</md-input-container>

				<md-button ng-click="MEmodal.update()" type="submit" value="Post" class="md-primary">
       	      		Update
       	 		</md-button>
				<md-button ng-click="MEmodal.complete()" class="md-primary">
       	      		Done
       	 		</md-button>    
      	 		<md-button ng-click="MEmodal.remove()" class="md-warn">
            		Remove
        		</md-button>       	 		    		
			</div>
		</form>
  	</md-dialog-content>

</md-dialog>


