<md-dialog aria-label="Edit Project Dialog" flex="0.318">

	<md-dialog-content>
		<form name="updateprojectform" ng-submit="updateP(PEmodal)">
			<div>
				<md-input-container>
					<label>Project Title</label>
					<input ng-model="PEmodal.project.title">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input ng-model="PEmodal.project.description">
				</md-input-container>
				<md-button ng-click="PEmodal.update()" type="submit" value="Post" class="md-accent">
       	      		Done
       	 		</md-button>
      	 		<md-button ng-click="PEmodal.closeDialog()" class="md-warn">
            		Remove
        		</md-button>
			</div>
		</form>
  	</md-dialog-content>

</md-dialog>



